<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="CONSOLE_LOG_PATTERN" value="%d [%15.15t{14}] %-5p %-40.40logger{39} : %m%n"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <logger name="com.apress" level="DEBUG" />
    <logger name="org.springframework" level="INFO" />
    <logger name="org.springframework.data.redis" level="trace" />
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>